<div class="home">
    <img src="/images/beer.png" alt="beer">
    <a class="home-btn" href="./beers.hbs">Check the Beers!</a>
    <a class="home-btn" href="./random-beer.hbs">Check a random Beer!</a>
</div>